[user]
  name = Kevin Robayna
  email = me@kevinrobayna.com
  signingkey = E229645C198022A0 
[commit]
  gpgsign = true
[core]
  editor = nvim 
  pager = delta
[pull]
  rebase = false
  ff = yes
[init]
  defaultBranch = master
[merge]
  ff = no
  commit = no
  conflictstyle = diff3
[alias]
  co = checkout
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
[maintenance]
	repo = /Users/krobayna/Git/zsh-autocomplete
	repo = /Users/krobayna/Git/zsh-autosuggestions
	repo = /Users/krobayna/Git/zsh-snap
	repo = /Users/krobayna/Git/zsh-syntax-highlighting
