gui:
  nerdFontsVersion: "3"
  scrollHeight: 2 # how many lines you scroll by
  scrollPastBottom: true # enable scrolling past the bottom
  sidePanelWidth: 0.25 # number from 0 to 1
  expandFocusedSidePanel: true
  mainPanelSplitMode: flexible # one of 'horizontal' | 'flexible' | 'vertical'
  language: auto # one of 'auto' | 'en' | 'zh' | 'pl' | 'nl'
  theme:
    activeBorderColor:
      - blue
      - bold
    inactiveBorderColor:
      - black
    optionsTextColor:
      - black
    selectedLineBgColor:
      - black
    cherryPickedCommitBgColor:
      - blue
    cherryPickedCommitFgColor:
      - cyan
    unstagedChangesColor:
      - white
  commitLength:
    show: true
  mouseEvents: true
  skipDiscardChangeWarning: false
  skipStashWarning: true
  showFileTree: true # for rendering changes files in a tree format
  showListFooter: false # for seeing the '5 of 20' message in list panels
  showRandomTip: true
  showCommandLog: false
  showBottomLine: false
  commandLogSize: 8
  authorColors: # in case you're not happy with the randomly assigned colour
    kevinrobayna: '#7d26cd'
services:
  gitlab.personio-internal.de: gitlab:gitlab.personio-internal.de
git:
  branchPrefix: krobayna_
  pagers:
    - useConfig: false
      colorArg: always
      pager: delta --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  merging:
    # only applicable to unix users
    manualCommit: false
    # extra args passed to `git merge`, e.g. --no-ff
    args: ""
  skipHookPrefix: WIP
  autoFetch: true
  autoRefresh: true
  branchLogCmd: git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium {{branchName}} --
  allBranchesLogCmds:
    - git log --graph --all --color=always --abbrev-commit --decorate --date=relative  --pretty=medium
  overrideGpg: false # prevents lazygit from spawning a separate process when using GPG
  disableForcePushing: true
  parseEmoji: true
  log:
    # one of date-order, author-date-order, topo-order.
    # topo-order makes it easier to read the git log graph, but commits may not
    # appear chronologically. See https://git-scm.com/docs/git-log#_commit_ordering
    order: topo-order
    # one of always, never, when-maximised
    # this determines whether the git graph is rendered in the commits panel
    showGraph: always
    # displays the whole git graph by default in the commits panel (equivalent to passing the `--all` argument to `git log`)
    showWholeGraph: true
refresher:
  refreshInterval: 10 # file/submodule refresh interval in seconds
  fetchInterval: 60 # re-fetch interval in seconds
update:
  method: prompt # can be: prompt | background | never
  days: 14 # how often an update is checked for
confirmOnQuit: false
# determines whether hitting 'esc' will quit the application when there is nothing to cancel/close
quitOnTopLevelReturn: true
disableStartupPopups: false
notARepository: prompt # one of: 'prompt' | 'create' | 'skip'
promptToReturnFromSubprocess: false # display confirmation when subprocess terminates
keybinding:
  universal:
    quit: q
    quit-alt1: <c-c> # alternative/alias of quit
    return: <esc> # return to previous menu, will quit if there's nowhere to return
    quitWithoutChangingDirectory: Q
    togglePanel: <tab> # goto the next panel
    prevItem: <up> # go one line up
    nextItem: <down> # go one line down
    prevItem-alt: k # go one line up
    nextItem-alt: j # go one line down
    prevPage: ',' # go to next page in list
    nextPage: . # go to previous page in list
    gotoTop: < # go to top of list
    gotoBottom: '>' # go to bottom of list
    prevBlock: <left> # goto the previous block / panel
    nextBlock: <right> # goto the next block / panel
    prevBlock-alt: h # goto the previous block / panel
    nextBlock-alt: l # goto the next block / panel
    jumpToBlock:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    nextMatch: "n" # goto the Nth block / panel
    prevMatch: "N"
    optionMenu: x # show help menu
    optionMenu-alt1: '?' # show help menu
    select: <space>
    goInto: <enter>
    openRecentRepos: <c-r>
    confirm: <enter>
    remove: d
    new: "n"
    edit: e
    openFile: o
    scrollUpMain: <pgup> # main panel scroll up
    scrollDownMain: <pgdown> # main panel scroll down
    scrollUpMain-alt1: K # main panel scroll up
    scrollDownMain-alt1: J # main panel scroll down
    scrollUpMain-alt2: <c-u> # main panel scroll up
    scrollDownMain-alt2: <c-d> # main panel scroll down
    executeShellCommand: ':'
    createRebaseOptionsMenu: m
    pushFiles: P
    pullFiles: p
    refresh: R
    createPatchOptionsMenu: <c-p>
    nextTab: ']'
    prevTab: '['
    nextScreenMode: +
    prevScreenMode: _
    undo: z
    redo: <c-z>
    filteringMenu: <c-s>
    diffingMenu: W
    diffingMenu-alt: <c-e> # deprecated
    copyToClipboard: <c-o>
    submitEditorText: <enter>
    extrasMenu: '@'
    toggleWhitespaceInDiffView: <c-w>
  status:
    checkForUpdate: u
    recentRepos: <enter>
  files:
    commitChanges: c
    commitChangesWithoutHook: w # commit changes without pre-commit hook
    amendLastCommit: A
    commitChangesWithEditor: C
    ignoreFile: i
    refreshFiles: r
    stashAllChanges: s
    viewStashOptions: S
    toggleStagedAll: a # stage/unstage all
    viewResetOptions: D
    fetch: f
    toggleTreeView: '`'
  branches:
    createPullRequest: o
    # viewPullRequestOptions: "O"
    checkoutBranchByName: c
    forceCheckoutBranch: F
    rebaseBranch: r
    mergeIntoCurrentBranch: M
    viewGitFlowOptions: i
    fastForward: f # fast-forward this branch from its upstream
    pushTag: P
    setUpstream: u # set as upstream of checked-out branch
    fetchRemote: f
  commits:
    squashDown: s
    renameCommit: r
    renameCommitWithEditor: R
    viewResetOptions: g
    markCommitAsFixup: f
    createFixupCommit: F # create fixup commit for this commit
    squashAboveCommits: S
    moveDownCommit: <c-j> # move commit down one
    moveUpCommit: <c-k> # move commit up one
    amendToCommit: A
    pickCommit: p # pick commit (when mid-rebase)
    revertCommit: t
    cherryPickCopy: c
    pasteCommits: v
    tagCommit: T
    checkoutCommit: <space>
    resetCherryPick: <c-R>
  stash:
    popStash: g
  commitFiles:
    checkoutCommitFile: c
  main:
    toggleSelectHunk: a
    pickBothHunks: b
  submodules:
    init: i
    update: u
    bulkMenu: b
