Plug 'preservim/nerdtree'

""" Map leader to space ---------------------
let mapleader=" "
set nu rnu numberwidth=4

""" line numbers
set relativenumber
""" shows absolute line number on cursor line (when relative number is on)
set number

""" cursor line
""" highlight the current cursor line
set cursorline

""" appearance
set guicursor=""

set scrolloff=8

""" clipboard
""" use system clipboard as default register
set clipboard+=unnamedplus

set updatetime=50
set colorcolumn="120"

nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>d <Action>(Debug)
nnoremap <leader>r <Action>(RenameElement)
nnoremap <leader>c <Action>(Stop)
nnoremap <leader>z <Action>(ToggleDistractionFreeMode)

nnoremap crr :action RenameElement<CR>
vnoremap crm :action ExtractMethod<CR>
vnoremap crv :action IntroduceVariable<CR>
nnoremap crv :action IntroduceVariable<CR>
nnoremap crc :action IntroduceConstant<CR>
vnoremap crc :action IntroduceConstant<CR>
nnoremap crf :action IntroduceField<CR>

nnoremap <leader>ff :action GotoFile<cr>
nnoremap <leader>fc :action GotoClass<cr>
nnoremap <leader>fs :action GotoSymbol<cr>
nnoremap <leader>d :action DebugClass<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
nnoremap <Leader>b :action ToggleLineBreakpoint<cr>
nnoremap <Leader>ev :action EvaluateExpression<cr>
nnoremap <Leader>n :action Generate<cr>

nnoremap <leader>tr :action RerunTests<cr>
nnoremap <leader>tfr :action RerunFailedTests<cr>

nnoremap gO :action FileStructurePopup<CR>
nnoremap gr :action ShowUsages<CR>

nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap ]w :action GotoNextError<CR>
nnoremap [w :action GotoPreviousError<CR>

nnoremap <leader>sv :source ~/.ideavimrc<CR>
